/* label{
	display:inline-block;
	width:140px;
	background-color: gainsboro;
}
label:hover{
	border-style: solid none solid solid;
	border-width: 1px;
}
input:hover{
	border-style: none solid none none;
	border-width: 1px;
}
label abbr{
	display: inline-block;
	width: 40px;
	text-decoration:none;
}
input{
	width: 90px;
	
} */

.span {
	border:1px solid rgba(230,230,230, 0.8);
	width: 22px;
	height: 22px;
	display: inline-block;
}
.previewImage {
	width: 120px;
	height: 120px;
	margin: 3px;
	position: relative;
}