.user-info {
  &-form-title {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
  }

  &-form-input {
    margin-top: 20px;

    &-label {
      margin-bottom: 8px;
      font-size: 18px;
    }

    &-textinput {
      width: 300px;
    }
  }

  &-form-submit {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    margin-top: 20px;
  }
}
