.low-platform-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid rgb(18 18 18 / 10%);

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 40px;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      background-color: #f4f5f5;
    }
  }
}
