.low-platform-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw + 30px);
  height: 50px;
  margin-left: -30px;
  background-color: var(--semi-color-bg-0);
  border-bottom: 1px solid rgb(18 18 18 / 10%);

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 40px;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      background-color: var(--semi-color-default-hover);
    }
  }
}
