.layout-header_container {
  height: 49px;
  width: 100vw;
  background-color: rebeccapurple;
  
}

.layout-sider {
  &_container {
    height: calc(100vh - 49px);

  }

  &_item {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }

}

